<header id="header">
  <h1 class="title">
    <strong>
      {% if source == "change_done" %}
        Пароль изменён
      {% elif source == "reset_complete" %}
        Восстановление пароля завершено
      {% elif source == "reset_done" %}
        Отправлено письмо
      {% elif source == "wrong_link" %}
        Ошибка
      {% endif %}
    </strong>
  </h1>
</header>
<section id="main-alpha" class="my-container">
  <div class="my-box">
    <p class="text-center tall-text">
      {% if source == "change_done" %}
        Пароль изменён успешно
      {% elif source == "reset_complete" %}
        Ваш пароль был сохранен. Используйте его для входа
        <br>
        <a  class="button" href="{% url 'users:login' %}">войти</a>
      {% elif source == "reset_done" %}
        Проверьте свою почту, вам должно прийти письмо 
        со ссылкой для восстановления пароля
      {% elif source == "wrong_link" %}
        Ссылка сброса пароля содержит ошибку или устарела.
      {% endif %}
    </p>
  </div>
</section> 
