{% extends "base.html" %}
{% block content %}
  <header id="header">
    <h1 class="title"><strong>Ошибка 500</strong></h1>
  </header>
  <section id="main-alpha" class="my-container">
    <div class="my-box">
      <h2 class="error-number">500</h2>
      <div class="error-container">
        <p class="text-center">
          Внутренняя ошибка сервера.
        </p>
      </div>
      <a href="{% url 'posts:index' %}" class="button">
        Вернуться на главную
      </a>
    </div>
  </section>
{% endblock %} 
