<article>
  <ul>
    <li>
      Автор: {{ post.author.get_full_name }}
      {% if all_user_posts %}
        <a href="{% url 'posts:profile' username=post.author.username %}">
          все посты пользователя
        </a>
      {% endif %}
    </li>
    <li>
      Дата публикации: {{ post.pub_date|date:"d E Y" }}
    </li>
  </ul>
  {% if truncate %}
    <p>{{ post.text|truncatewords:50|linebreaksbr }}</p>
  {% else %}
    <p>{{ post.text|linebreaksbr }}</p>
  {% endif %}
  <a href="{% url 'posts:post_detail' post_id=post.pk %}">
    подробная информация 
  </a>
</article>
