{% load user_filters %}
{% csrf_token %}
{% for field in form %}
  <div class="my-row">
    <label for="{{ field.id_for_label }}" class="label-form">
      {{ field.label }}
      {% if field.field.required %}
        <span class="text-danger">*</span>
      {% endif %}
    </label>    
    {{ field }}
    {% if field.help_text %}
      <small 
        id="{{ field.id_for_label }}-help" 
        class="form-text">
        {{ field.help_text|safe }}
      </small>
    {% endif %}
    {% if field.errors %}
      {% for error in field.errors %}            
        <div class="text-danger">
          {{ error|escape }}
        </div>
      {% endfor %}
    {% endif %}
  </div>
{% endfor %}
