{% load static %}
{% load user_filters %}

<div class="author-card">
	<div class="author-card__name">
		<img 
			class="avatar avatar-80" 
			alt="" 
			src="{% static 'images/pic12.jpg' %}">
		<h5>
			{{ author|user_repr }}
		</h5>
	</div>
	<ul class="author-card__stats">
		<li class="author-card__stats-item">
			<a href="#" class="author-card__stats-link">Подписчиков: 1</a>
		</li>
		<li class="author-card__stats-item">
			<a href="#" class="author-card__stats-link">Подписан: 1</a>
		</li>
		<li class="author-card__stats-item">
			{% if request.resolver_match.view_name  == 'posts:profile' %}
			  Записей: {{ author.posts.count }}
      {% else %}
        <a 
          href="{% url 'posts:profile' username=author.username %}"
          class="author-card__stats-link">
          Записей: {{ author.posts.count }}
        </a>
      {% endif %}
		</li>
	</ul>
</div>
