{% load static %}
{% load user_filters %}
{% load thumbnail %}

<div class="author-card">
	<div class="author-card__name">
		<img 
			class="avatar avatar-80" 
			alt=""
			{% if author.profile.image %}
				{% thumbnail author.profile.image "80x80" crop="center" upscale=True as im %}
          src="{{ im.url }}"
        {% endthumbnail %}
      {% else %}
			  src="{% static 'images/pic12.jpg' %}"
      {% endif %}
		>
		<h5>
			{{ author|user_repr }}
		</h5>
	</div>
	<ul class="author-card__stats">
		<li class="author-card__stats-item">
			<a 
				href="{% url 'posts:list_followers' username=author.username %}" 
				class="author-card__stats-link">
				{% if author.following__count %}
					Подписчиков: {{ author.following__count }}
				{% else %}
					Подписчиков: {{ author.following.count }}
				{% endif %}
			</a>
		</li>
		<li class="author-card__stats-item">
			<a 
			href="{% url 'posts:list_followings' username=author.username %}"
				class="author-card__stats-link">
				{% if author.follower__count %}
					Подписан: {{ author.follower__count }}
				{% else %}
					Подписан: {{ author.follower.count }}
				{% endif %}
			</a>
		</li>
		<li class="author-card__stats-item">
			{% if request.resolver_match.view_name  == 'posts:profile' %}
			  Записей: {{ author.posts.count }}
      {% else %}
        <a 
          href="{% url 'posts:profile' username=author.username %}"
          class="author-card__stats-link">
          Записей: {{ author.posts.count }}
        </a>
      {% endif %}
		</li>
	</ul>
</div>
