{% extends "base.html" %}
{% load user_filters %}

{% block title %}
  {{ title }}
  {{ subject|user_repr }}
{% endblock title %}

{% block content %}
    <header id="header">
      <h1 class="title">
        <strong>{{ title }}</strong>
        {{ subject|user_repr }}
      </h1>
    </header>
    <section class="authors">
      {% for author in page_obj %}
        {% include "posts/includes/author_card.html" %}
      {% endfor %}
    </section>
    {% include "posts/includes/paginator.html" %}
{% endblock content %}
