{% extends "base.html" %}

{% block title %}
  {% if is_edit %}
    Изменение записи
  {% else %}
    Новая запись
  {% endif %}
{% endblock title %}

{% block content %}
  <header id="header">
    <h1 class="title"><strong>
      {% if is_edit %}
        Изменение записи
      {% else %}
        Новая запись
      {% endif %}
    </strong></h1>
  </header>
  <section id="main-alpha" class="my-container">
    <form 
      class="my-box my-form"
      method="post"
      enctype="multipart/form-data">
      {% csrf_token %}
      {% include "includes/form_errors.html" %}
      {% include "includes/form_fields.html" %}
      <div class="my-row">
        <button type="submit" class="button">
          {% if is_edit %}
            Сохранить
          {% else %}
            Добавить
          {% endif %} 
        </button>
      </div>
    </form>
  </section>
{% endblock content %}
