{% extends "base.html" %}

{% block title %}
  Запись: {{ post.text|truncatechars:30 }}
{% endblock title %}

{% block content %}
  <div class="container py-5"> 
    <div class="row">
      <aside class="col-12 col-md-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Дата публикации: {{ post.pub_date|date:"d E Y" }}
          </li>
          {% if post.group %}   
            <li class="list-group-item">
              Группа: {{ post.group.title }}
              <a href="{% url 'posts:group_list' slug=post.group.slug %}">
                Все записи группы
              </a>
            </li>
          {% endif %}

          <li class="list-group-item">
            Автор: {{ post.author.get_full_name }}
          </li>
          <li 
            class="list-group-item d-flex justify-content-between align-items-center">
            Всего записей автора:  <span > {{ post.author.posts.count }} </span>
          </li>
          <li class="list-group-item">
            <a href="{% url 'posts:profile' username=post.author.username %}">
              Все записи пользователя
            </a>
          </li>
        </ul>
      </aside>
      <article class="col-12 col-md-9">
        <p>
          {{ post.text }}
        </p>
        {% if user == post.author %}
          <a
            class="btn btn-primary"
            href="{% url 'posts:post_edit' post_id=post.id %}">
            Редактировать
          </a>
        {% endif %}
      </article>
    </div>
  </div> 
{% endblock content %}
