{% extends "base.html" %}
{% load user_filters %}
{% load static %}

{% block title %}
  Запись: {{ post.title }}
{% endblock title %}

{% block content %}
  <header id="header">
    <h1 class="title">
      <strong>Запись: </strong>
      {{ post.title }}         
    </h1>
  </header>
  <section id="main-alpha" class="my-container">
    <div class="box-alpha">
      <span class="image featured stats-container">
        {% if post.image %}
          <img 
            src="{{ post.image.url }}" 
            alt="" 
            class="stats-container__image">
        {% else %}
          <img 
            src="{% static 'images/pic_alpha02.jpg' %}" 
            alt="" 
            class="stats-container__image">
        {% endif %}
        <ul class="stats-container__middle">
          <li class="stats-container__item">
            <a 
              href="{% url 'posts:like' post_id=post.pk %}" 
              class="{{ post|current_user_like:user }}">
              {{ post.likes.count }}
            </a>
          </li>
          <li class="stats-container__item">
            <a 
              href=href="{% url 'posts:post_detail' post_id=post.pk %}#article-comments" 
              class="{{ post|current_comment_like:user }}">
              {{ post.comments.count }}
            </a>
          </li>
        </ul>
      </span>
      <div class="row-alpha">
        <div>
          <h3>{{ post.title }}</h3>
          <p>{{ post.text|linebreaksbr }}</p>
        </div>
      </div>
      <div class="article-footer">
        <time class="article-footer__time">
          <strong>{{ post.pub_date|date:"d.m.Y" }}</strong>
        </time>
        <p class="article-footer__label">
          <strong>Автор:</strong>
        </p>
        <a 
          class="article-footer__link" 
          href="{% url 'posts:profile' username=post.author.username %}">
          {{ post.author|user_repr }}
        </a>
        <p class="article-footer__label">
          <strong>Группа:</strong>
        </p>
        {% if post.group %}
          {% url "posts:group_list" slug=post.group.slug  as the_url %}
        {% else %}
          {% url "posts:posts_without_group" as the_url %}
        {% endif %}
        <a 
          class="article-footer__link" 
          href="{{ the_url }}">
          {{ post.group.title|default:"---------" }}
        </a>
      </div>
      {% if user == post.author %}
        <a 
          href="{% url 'posts:post_edit' post_id=post.id %}" 
          class="button">
          Редактировать
        </a>
      {% endif %}
    </div>
    <section id="article-comments" class="article-comments">
      {% if user.is_authenticated %}
      <form
        class="comment-form" 
        method="post"
        action="{% url 'posts:add_comment' post_id=post.id %}">
        <h3>Добавьте комментарий:</h3>
        {% csrf_token %}
        {% for field in form %}
          {{ field }}
        {% endfor %}
        <button type="submit" class="button article-comments__button">
          Отправить
        </button>
      </form>
      {% endif %}
      {% include "posts/includes/comments.html" %}
    </section>
  </section>
{% endblock content %}
