{% extends "base.html" %}
{% load user_filters %}

{% block title %}
  Автор: {{ author|user_repr }}
{% endblock title %}

{% block content %}
  <header id="header">
    <h1 class="title">
      <strong>Автор: </strong>
      {{ author|user_repr }}
    </h1>
  </header>
  <section class="author-profile">
    {% include "posts/includes/author_card.html" %}
    {% if user != author %}
      <div class="author-profile__footer"> 
        {% if following %}
          <a
            class="button"
            href="{% url 'posts:profile_unfollow' author.username %}">
            Отписаться
          </a>
        {% else %}
          <a
            class="button"
            href="{% url 'posts:profile_follow' author.username %}">
            Подписаться
          </a>
        {% endif %}
      </div>
    {% endif %}
    
    <div class="section-my-title">
      <h2 class="my-title">
        <strong>Все записи автора</strong>
      </h2>
    </div>
  </section>
  <section class="row-alpha author-posts">   
    {% for post in page_obj %}
      {% include "posts/includes/article.html" with truncate=True%}
    {% endfor %}
    {% include "posts/includes/paginator.html" %}
  </section>
{% endblock content %}
