{% extends "base.html" %}
{% block title %}Войти{% endblock %}
{% load user_filters %}
{% block content %}
  <header id="header">
    <h1 class="title"><strong>Войти на сайт</strong></h1>
  </header>
  <section id="main-alpha" class="my-container">
    <form 
      class="my-box my-form"
      method="post"
      {% if action_url %}
        action="{% url action_url %}"
      {% endif %}>
      {% csrf_token %}
      {% include "includes/form_errors.html" %}
      {% for field in form %}
        <div class="my-row"
          {% if field.field.required %} 
            aria-required="true"
          {% else %}
            aria-required="false"
          {% endif %}>
          <label 
            for="{{ field.id_for_label }}" 
            class="label-form">
            {{ field.label }}
            {% if field.field.required %}
              <span class="text-danger">*</span>
            {% endif %}
          </label>
          {{ field }}
          {% if field.help_text %}
            <small id="{{ field.id_for_label }}-help" 
              class="form-text">
              {{ field.help_text|safe }}
            </small>
          {% endif %}
        </div>
      {% endfor %}
      <div class="my-row">
        <button type="submit" class="button">Войти</button>
        <a 
          href="{% url 'password_reset' %}" 
          class="my-link">
          Забыли пароль?
        </a>
      </div>
    </form>
  </section>
{% endblock %}
