{% extends 'base.html' %}
{% block title %}Новый пароль{% endblock %}
{% block content %}
  {% if validlink %}
    <header id="header">
      <h1 class="title"><strong>Введите новый пароль</strong></h1>
    </header>
    <section id="main-alpha" class="my-container">
      <form 
        class="my-box my-form"
        method="post">
        {% csrf_token %}
        {% include "includes/form_errors.html" %}
        <div class="my-row">
          <label for="id_new_password1" class="label-form">
            Новый пароль
            <span class="text-danger">*</span>
          </label>
          <input 
            type="password" 
            name="new_password1" 
            required 
            id="id_new_password1"> 
          <small id="id_new_password1-help" class="form-text">
            <ul class="form-list">
              <li class="form-list__item">
                Ваш пароль не должен совпадать с вашим именем или 
                другой персональной информацией или быть слишком 
                похожим на неё.
              </li>
              <li class="form-list__item">
                Ваш пароль должен содержать как минимум 8 символов.
              </li>
              <li class="form-list__item">
                Ваш пароль не может быть одним из широко 
                распространённых паролей.
              </li>
              <li class="form-list__item">
                Ваш пароль не может состоять только из цифр.
              </li>
            </ul>
          </small>
        </div>
        <div class="my-row">
          <label for="id_new_password2" class="label-form">
            Подтверждение нового пароля        
            <span class="text-danger">*</span>        
          </label>
          <input type="password"
            name="new_password2"
            required id="id_new_password2">      
        </div>
        <div class="my-row">
          <button type="submit" class="button">Назначить новый пароль</button>
        </div> 
      </form>
    </section>
  {% else %}
    {% include "users/includes/done_action.html" with source="wrong_link" %}
  {% endif %}
{% endblock %}
