{% extends "base.html" %}
{% block title %}Сброс пароля{% endblock %}
{% block content %}
  <header id="header">
    <h1 class="title"><strong>Сброс пароля</strong></h1>
  </header>
  <section id="main-alpha" class="my-container">
    <div class="my-box">
      <p>
        Чтобы сбросить старый пароль — введите адрес электронной 
        почты, под которым вы регистрировались
      </p>
      <form 
        method="post" 
        action="{% url 'users:password_reset' %}">
        {% csrf_token %}
        <div class="my-row">
          <label for="id_email" class="label-form">
            Адрес электронной почты
            <span class="text-danger">*</span>
          </label>
          <input type="email"
            name="email"
            maxlength="254"
            required id="id_email">
        </div>
        <div class="my-row">
          <button type="submit" class="button">Сбросить пароль</button>
        </div>
      </form>
    </div>
  </section>
{% endblock %}
