{% extends "base.html" %}
{% block title %}Изменение пароля{% endblock %}
{% block content %}
  <header id="header">
    <h1 class="title"><strong>Изменить пароль</strong></h1>
  </header>
  <section id="main-alpha" class="my-container">
    <form 
      class="my-box my-form"
      method="post" 
      action="{% url 'users:password_change' %}">
      {% csrf_token %}
      {% include "includes/form_errors.html" %}
      <div class="my-row">
        <label for="id_old_password" class="label-form">
          Старый пароль
          <span class="text-danger">*</span>
        </label>
        <input 
          type="password"
          name="old_password"
          autofocus 
          required 
          id="id_old_password">
      </div> 
      <div class="my-row">
        <label for="id_new_password1" class="label-form">
          Новый пароль
          <span class="text-danger">*</span>
        </label>
        <input 
          type="password" 
          name="new_password1" 
          required 
          id="id_new_password1"> 
        <small id="id_new_password1-help" class="form-text">
          <ul class="form-list">
            <li class="form-list__item">
              Ваш пароль не должен совпадать с вашим именем или 
              другой персональной информацией или быть слишком 
              похожим на неё.
            </li>
            <li class="form-list__item">
              Ваш пароль должен содержать как минимум 8 символов.
            </li>
            <li class="form-list__item">
              Ваш пароль не может быть одним из широко 
              распространённых паролей.
            </li>
            <li class="form-list__item">
              Ваш пароль не может состоять только из цифр.
            </li>
          </ul>
        </small>
      </div>
      <div class="my-row">
        <label for="id_new_password2" class="label-form">
          Подтверждение нового пароля
          <span class="required text-danger">*</span>
        </label> 
        <input type="password" 
          name="new_password2"
          required id="id_new_password2">
      </div>
      <div class="my-row">
        <button type="submit" class="button">Изменить пароль</button>
      </div>
    </form>
  </section>
{% endblock %}
